@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html,
body,
#root {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

img,
button,
[role='button'] {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
  user-select: none;
}
